@model YayinEvi

<form method="post" action="">

	<input asp-for="Ad" class="form-control" placeholder="Yayınevi ADI :" /> <br />
	<input asp-for="Adres" class="form-control" placeholder="Yayinevi Adresi :" /> <br />
	<input asp-for="Tel" class="form-control" placeholder="Yayinevi tel :" /> <br />

	<button class="btn btn-primary" type="submit">Kaydet</button>


</form>