
@model Yazar

<form method="post" action="">
	
	<input asp-for="Ad" class="form-control" placeholder="YAZARIN ADI :" /> <br />
	<input asp-for="Ozgecmis" class="form-control" placeholder="YAZARIN Özgeçmişi :" /> <br />

	<button class="btn btn-primary" type="submit">Kaydet</button>


</form>